<h1>Editing Orcamento Nv Unidade Ensino Pesquisa</h1>

<%= render 'form', orcamento_nv_unidade_ensino_pesquisa: @orcamento_nv_unidade_ensino_pesquisa %>

<%= link_to 'Show', @orcamento_nv_unidade_ensino_pesquisa %> |
<%= link_to 'Back', orcamento_nv_unidade_ensino_pesquisas_path %>
