/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables 
/* HSL */
$color1: hsla(0%, 3%, 13%, 1);
$color2: hsla(221%, 11%, 49%, 1);
$color3: hsla(30%, 29%, 95%, 1);
$color4: hsla(44%, 29%, 80%, 1);
$color5: hsla(33%, 17%, 59%, 1);

/* RGB */
$color1: rgba(34, 32, 32, 1);
$color2: rgba(112, 121, 140, 1);
$color3: rgba(245, 241, 237, 1);
$color4: rgba(218, 210, 188, 1);
$color5: rgba(169, 153, 133, 1);