<h1>Editing Orcamento Nv Area Atuacao</h1>

<%= render 'form', orcamento_nv_area_atuacao: @orcamento_nv_area_atuacao %>

<%= link_to 'Show', @orcamento_nv_area_atuacao %> |
<%= link_to 'Back', orcamento_nv_area_atuacaos_path %>
