<h1>Editing Orcamento Orgao Apoio</h1>

<%= render 'form', orcamento_orgao_apoio: @orcamento_orgao_apoio %>

<%= link_to 'Show', @orcamento_orgao_apoio %> |
<%= link_to 'Back', orcamento_orgao_apoios_path %>
