<div class="container main-container">
    <h2>O Projeto</h2>
    <hr>
    <p align=justify> O USP Analytics nasceu como um projeto da disciplina MAC0218 - Técnicas de Programação II,
    Instituto de Matemática e Estatística da USP. Ao recebermos a tarefa de criar uma aplicação web utilizando
    o <i>framework</i> <a href="https://rubyonrails.org/">Ruby on Rails</a>, decidimos criar um portal de
    transparência da USP que, de fato, permitisse acesso fácil e intuitivo aos dados, o que não acontece no
    site da universidade. Nosso projeto é amplamente inspirado no site <a href="http://paraondefoiomeudinheiro.org.br">
    Para onde foi meu dinheiro?</a>, que oferece muitas das mesmas funcionalidades para orçamentos municipais.</p>

    <p align=justify>Embora a USP possua um portal da transparência, sua navegação é contra-intuitiva, seguindo uma cadeia
    de links que muitas vezes não recebem denominações claras. Além disso, os dados não são acessíveis pelo navegador,
    uma vez que estão disponíveis apenas em planilhas para download, por vezes em formatos proprietários. </p>

    <p align=justify> Politicamente, a importância do fácil acesso a essas informações é imensa, especialmente
    em um ano de eleições estaduais: recentemente, temos visto diversos argumentos financeiros que buscam
    justificar a privatização da Universidade. Além disso, programas como o PDV, plano de demissão voluntária,
    buscam solucionar a crise orçamentária cortando gastos em áreas que não são o principal ralo do orçamento.
    A disponibilização desses dados em uma plataforma facilmente navegável visa permitir o acesso de mais
    pessoas a eles, fomentando o debate informado acerca da Universidade pública e gratuita. Ademais, a
    organização mais clara desses dados poderá servir como guia para o desenvolvimento de políticas orçamentárias
    internas à USP, por facilitar a visualização de como e onde o repasse está sendo aplicado. </p>

    <p align=justify> O projeto foi desenvolvido no segundo semestre de 2018 pelos alunos Artur Magalhães, Bruna Thalenberg,
    Guilherme Yambanis, Gustavo Silva, Lucas Santos e Victor Colombo. Esse é um projeto <i>open-source</i> sob
    licença <a href="https://github.com/bthalenberg/MAC0218/blob/master/LICENSE">GNU Affero</a> e todo o código
    pode ser encontrado no <a href="https://github.com/bthalenberg/MAC0218/">repositório do GitHub</a>.
    Contribuições são bem vindas. </p>

    Caso deseje entrar em contato, envie um email para <a href="mailto:tecs@ime.usp.br">tecs (arroba) ime.usp.br</a>.

</div>
