<div class="container main-container">
    <h2>O Projeto</h2>
    <hr>
    <%= image_tag("tecs.jpg", class: "main-img") %>
    <p>Lorem ipsum, bla bla bla Tecs, bla bla bla preencham ai.</p>
    <p><b>A foto</b> também é um placeholder!</p>
</div>