<div class="container main-container">
    <h2>Visualizar Dados</h2>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="data-box">
                <div class="data-header blue">
                    <span class="icon fa fa-bar-chart"></span>
                    <span class="title">Por Tópico</span>
                </div>
                <div class="data-item blue"><%= link_to "Taxa de evasao", evasao_path %></div>
                <div class="data-item blue">Tópico 2</div>
                <div class="data-item blue">Tópico 3</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="data-box">
                <div class="data-header beige">
                    <span class="icon fa fa-university"></span>
                    <span class="title">Por Instituto</span>
                </div>
                <div class="data-item beige">Instituto de Matemática e Estatística</div>
                <div class="data-item beige">Escola Politécnica</div>
                <div class="data-item beige">Instituto de Oceanografia</div>
            </div>
        </div>
    </div>
</div>