<div class="container main-container">
    <div class="row">
            <div id="chart_div" style="min-width: 800px, min-height: 600px"></div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['treemap']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Alinea', 'Parent', 'Proposta Orçamentária'],
          ['Todas', null, '0']
          <% @data.each do |key, val| %>
            <%= ",['#{key}', '#{val[0]}', #{val[1]}]".html_safe %>
          <% end %>
        ]);

        tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

        tree.draw(data, {
          minColor: '#03758a',
          midColor: '#f5f1ed',
          maxColor: '#a99985',
          headerHeight: 15,
          fontColor: 'black',
          showScale: true,
          height: 700,
        });
      }
    </script>
    <p></p>
    <p align="justify"><font-size="1"> Caso a visualização dos dados não carregue, tente atualizar a página.</font></p>
</div>
