<div class="container main-container">
    <h2>Taxas de evasão dos institutos da USP e seu custo
    </h2>
    <hr>
    <p align=justify>Faremos aqui uma análise do custo per capita dos alunos dos diferentes institutos da USP, dos atuais níveis de evasão e do que isso significa para a instituição.</p>

    <%= image_tag("Dados.png", :alt => "Tabela") %>  
    <p>  </p>
    <p>  </p>

    <p align=justify>Utilizando dados de um estudo realizado em 2009, temos uma visão geral do panorama orçamentário e taxas de evasão dos diversos institutos, divididos por áreas de conhecimento.</p>

    <p align=justify> Já uma primeira análise desses dados revela um fato interessante: a área de Exatas possui a maior taxa de evasão, próxima de 80%; mais da metade da área de Humanas e a área de Biológicas possuem a menor taxa de evasão, com menos de 9%. </p>

    <p align=justify> Vale ainda destacar os cálculos do balanço social. Enquanto os cursos de Biológicas têm um custo per capita muito superior aos cursos de Exatas, seu passivo social é menos de um quarto, o que se dá pela enorme taxa de evasão das Exatas.</p>

    <%= image_tag("Balanco Social.png", :alt => "Balanco Social") %>  
    <p>  </p>
    <p>  </p>

    <p align=justify> “A correlação entre os níveis de evasão (%) e o custo per capita (Ativo R$) das unidades é levemente inversamente proporcional (-0.25), indicando que as unidades mais caras tendem a apresentar menores níveis de evasão e é isso o que se pode constatar na tabela 1: a área de Ciências Biológicas que apresentou maior custo per capita é a que possui menor índice médio ponderado de evasão (8.8%), ao contrário da área de Humanas com menor custo per capita, mas com um maior índice médio ponderado de evasão (31.52%). Mas há que se atentar para área de Ciências Exatas, com alarmantes níveis de evasão (79.88%).” </p>   
    <p align=justify> O valor total do Passivo social seria em torno de R$ 552.832 Milhões. 

    Ainda analisando a tabela 1, temos o fato mais impressionante de todos: a taxa de evasão da Escola Politécnica da USP, que atingiu o patamar de 142%. Isso indica que, o número de alunos que desistiram e pediram transferência foi superior ao número atual de matriculados.</p>    


</div>
