<h1 class="jumbotron">Faculdade de Filosofia, Letras e Ciências Humanas</h1>
<div class="container main-container">
	<!-- historia -->
    <h2> Sobre a FFLCH</h2>

	<p> A Faculdade de Filosofia, Letras e Ciências Humanas foi fundada em 25 de janeiro de 1934 com o nome de Faculdade de Filosofia, Ciências e Letras (FFCL). Idealizada como o polo central da Universidade de São Paulo (USP), destinava-se à formação de pesquisadores em diversas áreas do conhecimento, abrangendo as áreas de ciências exatas, humanas e biológicas. </p>

    <p> Em sua atual configuração, a Faculdade de Filosofia, Letras e Ciências Humanas – mais conhecida como FFLCH – oferece cinco cursos de graduação: Ciências Sociais, Filosofia, Geografia, História e Letras, acolhendo 1.669 novos alunos por ano. </p>

    <p> Organizada em 11 departamentos, com 27 programas de pós-graduação, dezenas de centros, núcleos e laboratórios, e uma comunidade de mais de 15 mil pessoas, a FFLCH é a maior unidade de ensino da USP e está distribuída por seis prédios na Cidade Universitária Armando de Salles Oliveira, na capital paulista. </p>

    <p> Nos seus 84 anos de história, a FFLCH formou importantes intelectuais, com vasta contribuição para o pensamento político, social e artístico brasileiros. Considerada o principal centro de estudos em humanidades do Brasil, a FFLCH busca atender à tripla vocação – ensino, pesquisa e extensão – de forma integrada. </p>

    <h2> Distribuição das médias dos calouros do curso de Letras </h2>

    <p> Os calouros do curso de Letras passam, anualmente, por um processo chamado de Ranqueamento. É por meio dele que o aluno tem a possibilidade de escolher qual será sua habilitação, ou seja, além do Português, qual será a ênfase dos seus estudos -- uma língua estrangeira ou Linguística. Os aluno submetem suas escolhas, em ordem de preferência, no sistema JúpiterWeb, para então serem alocados. A preferência é dada para os alunos com as maiores médias. Sistema semelhante era utilizado na Escola Politécnica até alguns anos, quando a escolha passou a ser realizada no exame vestibular da Fuvest. </p>

    <p> Por conta desse processo, a Faculdade divulga todos os anos um documento anonimizado com as
    médias ponderadas dos alunos que passam pelo processo, ou seja, aqueles que submetem sua escolha no sistema. Alunos evadidos, portanto, não são considerados. Como o curso é oferecido em dois períodos, matutino e noturno, o ranqueamento também é dividido por período, e os alunos competem entre aqueles que desejam cursar a mesma habilitação no mesmo período.</p>

    <p> Abaixo, exibimos o histograma das médias do ranqueamento de 2017, referente às notas dos caluros de 2016, divididas por período: </p>
	<!-- pesquisa -->
	<br>
    <%= image_tag("matutino.png", :alt => "histograma das médias do período matutino", :size => "500x300") %>
    <br><br><br>

    <br>
    <%= image_tag("noturno.png", :alt => "histograma das médias do período noturno", :size => "500x300") %>
    <br><br><br>

	<p> É curioso notar que o desempenho dos alunos do período noturno é significativamente pior do que o dos alunos do matutino: enquanto em um 89% dos alunos têm média ponderada acima de 5.0, no outro, são 78%. A diferença também é gritante entre os alunos que estariam na faixa de reprovação direta, isto é, com médias entre 0 e 3, sem direito a recuperação: em um período, são 3% dos alunos, enquanto, no outro, são 12%.</p>

    <p> Cabem aqui algumas hipóteses para essa disparidade. A primeira constitui-se no perfil do aluno de cada período: no geral, alunos do período noturno são alunos que trabalham, e que dependem disso para sua manutenção na Universidade. Os alunos, cansados após uma jornada de trabalho, prestam menos atenção às aulas, além de terem à sua disposição menos horas de estudo no tempo livre. As políticas de permanência estudantil são claramente deficientes, seja em número, seja em valor do auxílio, e um maior investimento na área poderia diminuir tal discrepância.</p>

    <p> A segunda está relacionada à duração das aulas: no período matutino, elas têm 1h40, enquanto no noturno, 1h30. Além disso, os alunos do matutino contam com um intervalo de 20 minutos, que não ocorre no período noturno. Isso diminui ainda mais a duração das aulas, pois, sem um intervalo, os alunos usam parte da aula para ir ao banheiro, tomar água e café. Fora isso, muitos alunos saem mais cedo, por dependerem de transporte público. A circulação deficiente dos ônibus no campus, especialmente no período noturno, força a saída antecipada da sala de aula para que os alunos consigam chegar às suas casas antes do fechamento dos trens e metrôs.</p>

    <p> Além disso, a média alta do curso chama atenção para outro assunto: a disparidade das notas entre diferentes institutos da USP. Atualmente, para a distribuição de vagas em optativas livres, é utilizada a média ponderada, e não normalizada, do aluno. Isso favorece alunos de unidades como a FFLCH, que possuem média mais alta. </p>

</div>
