<h1 class="jumbotron">Presença feminina nos cursos de computação</h1>
<div class="container main-container">

	<p align="justify">Ada Lovelace, Mary Kenneth Keller, Grace Hopper, Dana Ulery, Hedy Lamarr e Kathleen Antonelli são nomes dos quais poucas pessoas já ouviram falar. Em contrapartida, Steve Jobs, Bill Gates e Mark Zuckerberg são conhecidos por quase todo mundo.</p>

    <p> O que essas mulheres e homens têm em comum é que dedicaram a vida ao universo dos computadores. O que os diferencia é a invisibilidade delas e a fama global deles, embora todos tenham dado grandes contribuições à informática. Além disso, elas foram pioneiras, em uma área com cada vez menos representantes do sexo feminino.</p>

    <p> Ada Lovelace ou Ada Byron, Lady Lovelace, filha do famoso poeta inglês Lorde Byron, por exemplo, desenvolveu o primeiro algoritmo da história, e Mary Kenneth Keller, uma freira americana, teve papel importante na criação da linguagem de programação BASIC. A professora Andreia Malucelli, coordenadora da pós-graduação em Informática da Pontifícia Universidade Católica do Paraná (PUC-PR), lembra ainda que Grace Hopper, por sua vez, criou a linguagem de programação Flow-Matic, hoje extinta, mas que serviu como base para o desenvolvimento de outra linguagem, a COBOL. </p>

    <p> "Já Dana Ulery foi a primeira mulher engenheira da Nasa e desenvolveu algoritmos para a automatização dos sistemas Deep Space Network, de rastreamento de tempo real da agência espacial americana", conta. A tecnologia usada nos telefones celulares e nas redes wi-fi também foi criada por uma mulher, no caso, Hedy Lamarr. </p>

	<br>
    <%= image_tag("bcc.jpg", :alt => "IME", :size => "500x300") %>
    <br><br><br>

	<p> De acordo com Malucelli, do início da década de 1970 até meados de 1980 houve um aumento de 10% para 36% da participação das mulheres entre os profissionais de computação, e a maioria dos estudantes era do sexo feminino. </p>

    <p>"Acredita-se que esse interesse das mulheres pela graduação nessa área tenha relação com o curso de Matemática", diz. "A primeira turma surgiu a partir da migração de alunos da licenciatura em Matemática, que sempre foi um curso predominantemente feminino." </p>

    <p> A partir de meados dos anos 1980, no entanto, as mulheres começaram a dar lugar aos homens na informática. Há uma profusão de dados que demonstram essa inversão paulatina, principalmente nos cursos superiores de processamento de dados e ciência da computação. </p>

    <p> Simone Souza, do Departamento de Sistemas de Computação e presidente da Comissão de Graduação do Instituto de Ciências Matemáticas e de Computação da USP São Carlos (ICMC-USP), diz que, até 1990, as mulheres eram predominantes. "Depois, entre 1990 e 2000, a proporção de gêneros se equilibrou e a partir de 2000 a quantidade delas foi caindo ano a ano", diz. </p>

    <p> Um levantamento do total de formandos no curso de bacharelado em Ciências de Computação do ICMC, que tinha 40 vagas até 2003 e, desde então, 100, mostra que, em 1997, se diplomaram 12 mulheres (48%) e 13 homens (52%), números que haviam caído, em 2003, para 4 (12%) e 27 (88%), respectivamente. O menor número de mulheres que concluíram o curso foi registrado em 2016: apenas duas (3%) ante 52 (97%) homens. Em 2017, elas chegaram a 12 (17%) dos 70 formandos. </p>

    <p> No Instituto de Matemática e Estatística (IME), também da USP, em São Paulo, a primeira turma de Ciências da Computação, formada em 1974, tinha um total de 20 alunos, dos 14 mulheres (70%) e 6 homens (30%). Em 2016, a turma contava com 41 alunos, dos quais apenas seis eram mulheres, ou seja, 15%. </p>

    <p> Malucelli, da PUC-PR, tem números mais abrangentes. "De acordo com dados recentes divulgados por Facebook, Google, Twitter e Apple, as mulheres são apenas 30% dos funcionários nessas empresas", diz. "Em cargos técnicos, diretamente ligados à tecnologia, esse número diminui. No Brasil, segundo a Pesquisa Nacional por Amostra de Domicílios (Pnad), do IBGE, elas representam apenas 20% dos mais de 580 mil profissionais da área de tecnologia da informação." </p>

    <p> Nas universidades não é diferente. Malucelli cita o Anita Borg Institute (ABI), criado nos Estados Unidos, para ajudar a aumentar a participação de mulheres na tecnologia, segundo o qual elas representam apenas 18% dos estudantes de todos os cursos de ciência da computação naquele país. </p>

    <p> "No Brasil, segundo o Instituto Nacional de Estudos e Pesquisas Educacionais (Inep, ligado ao Ministério da Educação), as mulheres representam 15% dos matriculados em cursos de tecnologia", completa. </p>

    <p> Ainda de acordo com Malucelli, um gráfico, publicado no dia 8 de março pelo The Statistics Portal, que reúne estudos e estatísticas de mais de 22.500 fontes, baseado em relatórios de diversas empresas de TI, indica que as mulheres representam entre 26% (Microsoft) e 43% (Netflix) da força de trabalho nas principais empresas da área. </p>

    <p> "Além disso, o estudo Women in Tech 2018, publicado pelo portal americano HackerRank, mostra que dos 14.616 desenvolvedores de software que responderam à pesquisa, pouco mais de 10% eram do sexo feminino", acrescenta Malucelli. </p>

    <p> Os motivos para esse afastamento têm sido pesquisados e discutidos ao longo dos anos e estão fortemente relacionados com estereótipos. "Após 1984, foram lançados os primeiros computadores com materiais de divulgação voltados para o público masculino, começando, assim, um desinteresse das mulheres", diz. Simone Souza levanta outra possível causa para a queda do número delas no mundo da informática. "Quando surgiram, os computadores pessoais foram primordialmente utilizados pelos meninos, voltados para os jogos", explica. </p>

    <p> De acordo com ela, as meninas nessa época não eram incentivadas a interagir com essas máquinas e, por isso, começaram a se afastar de áreas relacionadas à computação. "Outra razão que acredito ser importante para a baixa procura pelos cursos de informática pelas meninas é o pouco incentivo que é dado a elas para a área de exatas nos ensinos fundamental e médio", acrescenta. </p>

    <p> A pesquisadora Eliane Pozzebon, coordenadora do curso de Engenharia da Computação da Universidade Federal de Santa Catarina, lembra que, nos anos 1970, a área de informática não era tão valorizada - as máquinas tinham pouco processamento e memória. "O trabalho com os computadores era braçal e repetitivo, então acabava sendo realizado mais por mulheres", explica. Mas, para ela, o afastamento do sexo feminino dessa área não é exclusivo de um período. "Há também a questão cultural", diz. "Desde a nossa infância, os pais preferem bonecas para as meninas e videogames para os meninos. A figura do nerd sempre esteve associada ao menino." </p>

    <p align="justify"><font-size="1"> <i>Essa pesquisa foi retirada de uma reportagem da <a href="https://www.bbc.com/portuguese/geral-43592581">BBC Brasil</a>.</i></font></p>
</div>
