<div class="container main-container">
    <h2>Glossário</h2>
    <hr>
    <p class="subtitle">Uma de nossas maiores dificuldades ao modelar o banco de dados foi entender
    o nome das variáveis utilizadas na tabela disponibilizada pela Universidade. Para isso, desenvolvemos
    um glossário de termos e siglas para que o conteúdo seja acessível para um público amplo, sem
    conhecimentos específicos de termos jurídicos, burocráticos ou específicos à USP.</p>

    <h3><b>Termos do orçamento</b></h3>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Receitas vinculadas:</b> São receitas cuja utilização está pré-definida
            pela Lei Orçamentária estadual. Referem-se a recursos oriundos da prestação de serviços/SUS,
            vendas, taxas das Unidades, etc, e dos recursos vinculados federais.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Receitas não vinculadas:</b> São receitas cuja utilização não está pré-definida.
            Podem ser tanto advindas do Tesouro do Estado (porcentagem do ICMS repassada à USP), quanto próprias.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Pessoal e reflexos: </b> Essa categoria engloba os custos da folha de pagamento
            (de servidores ativos e inativos), outras folhas (que por sua vez engloba os precatórios) e provisões.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Precatórios: </b> Requisições de pagamento expedidas pelo Judiciário para cobrar
            da USP, como autarquia, o pagamento de valores devidos após condenação judicial definitiva.
            São como indenizações.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Outros custeios: </b>Categoria guarda-chuva que engloba todos os gastos
            que não são com pessoal ou reservas orçamentárias. Exemplos de custos nessa categoria são
            a dotação básica de unidades de ensino e pesquisa e de órgãos de apoio, o programa de bolsas
            e auxílios da política de apoio à permanência e formação estudantil, projetos de cultura
            e extensão, entre outros.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Reservas orçamentárias: </b> Inclui a reserva de contingência e a reserva
            patrimonial de contingência. Como o próprio nome diz, são reservas para uma contingência,
            ou seja, para eventos incertos no futuro.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Indenização PIDV: </b> O PIDV foi o Programa de Incentivo à Demissão
            Voluntária, que vem sendo posto em prática desde 2015 como medida para aliviar a crise
            financeira. Esses custos são referentes aos encargos trabalhistas que devem ser pagos no
            momento da demissão de um funcionário.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Institutos especializados: </b> São centros de pesquisa especializados --
            CEBIMAR, CENA, IEA, IEB, IEE e IMT.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Projetos especiais: </b> A categoria engloba custos de projetos de gradução,
            pós-graduação, pesquisa, cultura e extensão e reitoria, gerenciados pelas pró-reitorias.
            Não é claro que projetos são esses.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Reservas específicas: </b> Reservas destinadas à cobertura de sinistros.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Atividades integradas: </b> Custos de avaliação institucional, assistência
            médica e odontológica, material bibliográfico, cooperação acadêmica nacional e internacional,
            obras, biotérios, programa integrado de segurança, informática, restaurantes universitários,
            creches, serviços de utilidade pública, sistema de frota de veículos, renovação da frota
            de veículos especiais, taxas municipais, escola técnica e gestão da USP, reservas ecológicas
            e taxas para proteção à propriedade intelectual.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Órgãos de apoio: </b> Englobam a SCS e a Reitoria e seus subórgãos:
            GR/GVR, CERT, PG, SG, CODAGE, DA, DF, DRH, SAUSP, Saúde Ocupacional, Escola Técnica e de
            Gestão, Agência USP de Cooperação Acadêmica Nacional e Internacional, Agência USP Inovação,
            CDI, Espaço Brasiliana, InovaUSP, Departamento de Assistência à Saúde e Superintendência de Segurança.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Órgãos de serviço: </b> CEPEUSP, EDUSP, SAS, SEF, SIBI, STI e as prefeituras
            dos campi: PUSP-B, PUSP-C, PUSP-CL, PUSP-FC, PUSP-L, PUSP-LQ, PUSP-QSD, PUSP-RP, PUSP-SC.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Dotação básica: </b> Custos de unidades de ensino, institutos especializados,
            museus, hospitais e anexos, órgãos de apoio, órgãos de serviço e prefeituras. Seu objetivo
            é cobrir grande parte das despesas de custeio das Unidades de Ensino e Pesquisa da USP e,
            portanto, viabilizar a operação dessas Unidades.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Adicionais: </b> Custos com treinamento de recursos humanos; manutenção
            predial, de áreas externas e de sistema viário; equipamentos de segurança; manutenção e
            reposição de equipamentos de informática; serviços de limpeza e vigilância; despesas com
            transporte e aluguel de imóveis.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Utilidade pública: </b> Despesas com o pagamento do consumo de energia elétrica,
            água e utilização da rede de efluentes, e telecomunicações.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Dotação: </b> Verba total recebida por um órgão. Normalmente, é a soma do
            orçamento destinado a pessoal e da dotação básica.
        </li>
    </ul>

    <h3><b>Siglas</b></h3>
    <p></p>
    <h4><b class="blue">Unidades de ensino e pesquisa</b class></h4>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">EACH:</b> Escola de Artes, Ciências e Humanidades.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">ECA:</b> Escola de Comunicação e Artes.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">ECA-OCAM:</b> Orquestra de Câmara da ECA.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EE:</b> Escola de Enfermagem.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EEFE:</b> Escola de Educação Física e Esporte.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EEFERP:</b> Escola de Educação Física e Esporte de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EEL:</b> Escola de Engenharia de Lorena.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EERP:</b> Escola de Enfermagem de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EESC:</b> Escola de Engenharia de São Carlos.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EESC-CRHEA:</b> Centro de Recursos Hídricos e Ecologia Aplicada da EESC.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">EP:</b> Escola Politécnica.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">ESALQ:</b> Escola Superior de Agricultura Luiz de Queiroz.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FAU:</b> Faculdade de Arquitetura e Urbanismo.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FCF:</b> Faculdade de Ciências Farmacêuticas.
       </li>
       <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">FCFRP:</b> Faculdade de Ciências Farmacêuticas de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FD:</b> Faculdade de Direito.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FDRP:</b> Faculdade de Direito de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FE:</b> Faculdade de Educação.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FE-EA:</b> Escola de Aplicação da FE.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FEA:</b> Faculdade de Economia, Administração e Contabilidade.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FEARP:</b> Faculdade de Economia, Administração e Contabilidade de
             Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FFCLRP:</b> Faculdade de Filosofia, Ciências e Letras de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FFLCH:</b> Faculdade de Filosofia, Letras e Ciências Humanas.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FM:</b> Faculdade de Medicina.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FMRP:</b> Faculdade de Medicina de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FMVZ:</b> Faculdade de Medicina Veterinária e Zoootecnia.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FMVZ_HOVET:</b> Hospital Veterinário da FMVZ.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FO:</b> Faculdade de Odontologia.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FOB:</b> Faculdade de Odontologia de Bauru.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FORP:</b> Faculdade de Odontologia de Ribeirão Preto.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FSP:</b> Faculdade de Saúde Pública.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FZEA:</b> Faculdade de Zootecnia e Engenharia de Alimentos.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">FZEA-HOVET:</b> Hospital Veterinário da FZEA.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IAG:</b> Instituto de Astronomia, Geofísica e Ciências Atmosféricas.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IAU:</b> Instituto de Arquitetura e Urbanismo.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IB:</b> Instituto de Biologia.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">ICB:</b> Instituto de Ciências Biomédicas.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">ICMC:</b> Instituto de Ciências Matemáticas e de Computação.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IF:</b> Instituto de Física.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IFSC:</b> Instituto de Física de São Carlos.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IGC:</b> Instituto de Geociências.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IME:</b> Instituto de Matemática e Estatística.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IO:</b> Instituto Oceanográfico.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IP:</b> Instituto de Psicologia.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IQ:</b> Instituto de Química.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IQSC:</b> Instituto de Química de São Carlos.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">CDCC:</b> Centro de Divulgação Científica e Cultural.
        </li>
        <li>
             <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
             <b class="blue">IRI:</b> Instituto de Relações Internacionais.
        </li>
    </ul>

    <p></p>
    <h4><b class="blue">Institutos Especializados</b></h4>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">CEBIMAR:</b> Centro de Biologia Marinha.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">CENA:</b> Centro de Energia Nuclear na Agricultura.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">IEA:</b> Instituto de Estudos Avançados.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">IEB:</b> Instituto de Estudos Brasileiros.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">IEE:</b> Instituto de Energia e Ambiente.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">IMT:</b> Instituto de Medicina Tropical.
        </li>
    </ul>

    <p></p>
    <h4><b class="blue">Museus</b></h4>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">MAC:</b> Museu de Arte Contemporânea.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">MAE:</b> Museu de Arqueologia e Etnologia.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">MP:</b> Museu Paulista.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">MRCI:</b> Museu Republicano "Convenção de Itu".
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">MZ:</b> Museu de Zoologia.
        </li>
    </ul>

    <p></p>
    <h4><b class="blue">Hospitais e anexos</b></h4>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">HRAC:</b> Hospital de Reabilitação de Anomalias Craniofaciais.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">HU:</b> Hospital Universitário.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SVOC:</b> Serviço de Verificação de Óbitos da Capital.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SVOI:</b> Serviço de Verificação de Óbitos do Interior.
        </li>
    </ul>

    <p></p>
    <h4><b class="blue">Órgãos de apoio</b></h4>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SCS:</b> Superintendência de Comunicação Social.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">CDI:</b> Centro de Difusão Internacional.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">GR/GVR:</b> Gabinete da Reitoria/Gabinete da Vice-Reitoria.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">CERT:</b> Comissão Especial de Regimes de Trabalho.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">PG:</b> Procuradoria Geral.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SG:</b> Secretaria Geral.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">CODAGE:</b> Coordenadoria de Administração Geral.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">DA:</b> Departamento de Administração da Reitoria.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">DF:</b> Departamento de Finanças.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">DRH:</b> Departamento de Recursos Humanos.
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SAUSP:</b> Sistema de Arquivos da USP.
        </li>
    </ul>

    <p></p>
    <h4><b class="blue">Órgãos de serviço</b></h4>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">CEPEUSP:</b> Centro de Práticas Esportivas da USP
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">EDUSP:</b> Editora USP
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SAS:</b> Superintendência de Assistência Social
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SEF:</b> Superintendência do Espaço Físico
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">SIBI:</b> Sistema Integrado de Bibliotecas
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">STI:</b> Superintedência de Tecnologia da Informação
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">PUSP-B, PUSP-C, PUSP-CL, PUSP-FC, PUSP-L, PUSP-LQ, PUSP-QSD, PUSP-RP, PUSP-SC:</b>
            prefeitura dos campi; respectivamente Bauru, Capital, Capital-Leste, Fernando Costa (Pirassununga),
            Lorena, Luiz de Queiroz (Piracicaba), Quadrilátero da Saúde-Direito, Ribeirão Preto, São Carlos.
        </li>
    </ul>
</div>
