<div class="container main-container">
    <h2>Glossário</h2>
    <hr>
    <p class="subtitle">Alguns dos termos mais complexos usados no sistema estão listados abaixo para facilitar o entendimento.</p>
    <ul class="fa-ul">
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">BCC:</b> Bacharelado em ciência da computação
        </li>
        <li>
            <span class="fa-li blue"><i class="fa fa-hand-o-right"></i></span>
            <b class="blue">Tecs:</b> ninguém sabe o que é isso
        </li>

    </ul>
</div>