<h1 class="jumbotron">Instituto de Matemática e Estatística</h2>
<div class="container main-container">
	<!-- historia -->
	<p align="justify">Nascido da Faculdade de Filosofia da rua Maria Antonia, o Instituto de Matemática e Estatística da USP (IME-USP) sempre esteve na vanguarda da pesquisa e ensino em matemática pura. A criação do Instituto ocorreu em 15 de janeiro de 1970 pela Reforma Universitária, que reuniu num só instituto os docentes de matemática, estatística e ciência da computação dos vários estabelecimentos da USP, em particular os da Escola Politécnica, da antiga Faculdade de Filosofia, Ciências e Letras, da antiga Faculdade de Ciências Econômicas e Administrativas, da Faculdade de Higiene e Saúde Pública e do antigo Instituto de Pesquisas Matemáticas. Com a implantação do novo Estatuto da USP, baixado em outubro de 1988, a Universidade manteve e ampliou as atribuições básicas desta Unidade. Com a aprovação de seu Regimento Interno em 1993, foram institucionalizados os quatro Departamentos, os seis cursos, com a inserção do novo curso de Bacharelado em Matemática Aplicada e Computacional no início no primeiro semestre de 2002, e os centros de apoio que hoje constituem a estrutura mestra de sua atuação.</p>
	<!-- pesquisa -->
	<br>
    <%= image_tag("ime.jpg", :alt => "IME", :size => "500x300") %>  
    <br><br><br>

	<p align="justify">O Instituto possui como pessoal ativo, dentro da dotação orçamentária não vinculada para ensino e pesquisa, 64.996.559 reais, valor relativamente próximo a média das demais Unidades.</p>
	<!-- gastos -->
	<p>O gasto laboratorial, em 2016, consta como 1478 reais, o que aparenta ser um valor baixo para a dimensão do Instituto, e que possui 1616 alunos de graduação e 869 de pós-graduação cadastrados.</p>

	<p>A produçao científica é de, em média, 1.46 trabalhos por docente do Instituto.</p>

	<p align="justify">Um fato interessante para notar, é que o Instituto de Ciências Matemáticas e de Computação aparece em quarto lugar nos gastos de manutenção e reposiçao de equipamentos de informática, enquanto o Instituto de Matemática e Estatística em décimo sexto lugar. O gasto do ICMC é de 311.443 reais e o IME, 135.762 reais.</p>
    <p align="justify">Mas, por dados de 2016, o ICMC possui apenas 523 equipamentos de informática a mais, dentre eles 329 microcomputadores a mais.</p>

</div>