<h1 class="jumbotron">Gastos com informática e tecnologia nas Unidades de Ensino</h1>
<div class="container main-container">
	<h2>A tecnologia é algo de extrema importância no desenvolvimento acadêmico</h2>
	<h3>É essencial o investimento em tecnologia dentro da universidade. Em todas as áreas do conhecimento, seu uso facilita e aumenta a produtividade.</h3>

	<br>
	<!-- Imagem -->
    <%= image_tag("tech.jpg", :alt => "Tecnologia", :size => "500x300") %>  
    <br><br><br>

	<h4 align="justify">Manutenção e reposição de equipamentos</h4>
	<p align="justify">Pelo gráfico abaixo, podemos observar as 10 faculdades com maior gasto na manutenção e reposição de equipamentos de informática:</p>

	<br>
    <%= image_tag("grafico_1.png", :alt => "Gráfico 1") %>  
    <br><br><br>

    <p align="justify">A Escola Politécnica aparece em primeiro lugar, com um gasto de 476.186 reais. Distoando dos outros institutos, que são majoritariamente de exatas e biológicas, a FFLCH aparece em sexto lugar. </p>
    <p align="justify">Um fato interessante para notar, é que o Instituto de Ciências Matemáticas e de Computação aparece em quarto lugar, enquanto o Instituto de Matemática e Estatística em décimo sexto lugar. O gasto do ICMC é de 311.443 reais e o IME, 135.762 reais.</p>
    <p align="justify">Mas, por dados de 2016, o ICMC possui apenas 523 equipamentos de informática a mais, dentre eles 329 microcomputadores a mais.</p>

    <p align="justify">O gasto total é de 17.963.290 reais.</p>
    <br><br>

    <h4 align="justify">Laboratórios</h4>
    <p align="justify">Investir em espaços físicos, e principalemnte, laboratórios, é fundamental para o desenvolvimento de tecnologia nacional. Iremos observar esses investimentos dentro da USP.</p>

    <p align="justify">O gráfico de pizza abaixo mostra os gastos físicos em laboratórios, nas 10 unidades que mais gastam. Os dados abaixo são de 2016.</p>

    <!-- gastos em lab -->
    <br>
    <%= image_tag("gastos_lab.png", :alt => "Gráfico 2") %>  
    <br><br><br>

    <p align="justify">A Escola Politécnica aparece em primeiro, com 26.353 reais, e a Escola de Engenharia de São Carlos, em segundo, com 22.526 reais.</p>
    <p align="justify">Podemos observar a predominância dos cursos exatas e biológicas, que necessitam de espaços de laboratório para desenvolver pesquisas. Vale notar, que as Escolas que oferecem cursos de Engenharia, somadas, ocupam quase 23% do gasto laboritorial da Universidade inteira. Os 10 primeiros, mostrados no gráfico, ocupam quase 50% do total da Universidade.</p>
</div>