<!-- Top content -->
<div class="top-content">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text wow fadeInLeft">
                <h1>USP<strong>Analytics</strong></h1>
                <div class="description">
                    <p class="medium-paragraph">
                    Um portal de <strong>transparência orçamentária</strong> da Universidade de São Paulo
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Features -->
<div class="features-container section-container">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3><a href="about.html">O projeto</a></h3>
                        <p>
                            Conheça mais sobre o projeto, sua idealização e missão.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3><a href="data.html">Os dados</a></h3>
                        <p>
                            Visualize os dados orçamentários da USP.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3><a href="analysis.html">As análises</a></h3>
                        <p>
                            Verifique algumas análises do orçamento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>