<div class="container main-container">


	<h1>Taxas de Evasão da Escola Politécnica da USP</h1>	

	<hr>

	<p align=justify>A escola politécnica da USP, também conhecida por POLI, e um dos institutos mais antigos da USP. Fundada em 1893, foi incorporada à USP em 1934. Ocupa nove prédios da cidade Universitária e conta com 4500 alunos de graduação e 2500 de pos-graduacao.</p>

	<p align=justify>Muito conceituada tanto nacional como internacionalmente,  é o sonho de muitos jovens ingressar nesta prestigiada instituição. Entretanto, como analisamos <%= link_to "neste", evasao_path %> artigo, as taxas de evasão da POLI estão entre as maiores de toda as USP.</p>

	<p align=justify>Em 2009, a taxa de evasão chegou a marca de 142%, ou seja, mais alunos evadiram a escola do que entraram. Mas, alem da analise quantitativa, o que leva esse fenomeno ocorrer?</p>

    <%= image_tag("Dados.png", :alt => "Tabela") %>  
    <p align=justify> Tabela com taxas de evasão da USP(2009)</p>


	<p align=justify>Este é um assunto complexo, que tangencia diversos pontos da vida universitaria.</p>

	<p align=justify>É quase sabedoria popular a dificuldade dos cursos de engenharia, e isso com certeza é algo que se reforça na poli. Não é incomum um número expressivo de alunos que tem que repetir matérias do chamado “ciclo básico, que constitui os dois primeiros anos da graduação. Enquanto em outros cursos, principalmente em biológicas ou humanas, reprovações são algo raro, na POLI elas são algo comum, até esperadas pelos alunos.</p>

	<p align=justify>Esse grande número de reprovações acaba por destruir um senso de unidade entre os alunos. Enquanto em outros cursos e comum a ideia da turma se formar junto, na escola e mais raro isso ocorrer, já que ocorre uma dispersão natural dos alunos pelas áreas de especialização e, devido às reprovações corriqueiras, e grande o número de alunos que se encontram numa sala em que não conhecem ninguém.</p>

	<p align=justify>Junte-se a isso o perfil médio do aluno de exatas, que já possui certa dificuldade em contextos sociais e unir-se em grupos, temos como resultado um ambiente muito individualista, com pessoas estudando sozinhas, sem comunicação, indo contra a ideia geral da universidade de ser um ambiente para disseminação de conhecimento.</p>  

	<p align=justify>Esse contexto da POLI não é novidade, já é um velho conhecido dos que frequentam a instituição. Dentre os alunos, existe um famoso texto chamado <a href="http://www.politecnicos.com.br/artigos/escola-dos-homens-tristes">“A escola dos homens tristes”</a>, de 1997, que ressoa com a realidade dos mesmo, a cada novo ano de ingresso.  Com certeza é possível achar relatos ainda mais antigos.</p>

	<p align=justify>A situação na Escola Politécnica já supera um contexto acadêmico e é de relevância a outras esferas: O que esse instituto está gerando para a sociedade? Qual o impacto positivo está sendo criado com o dinheiro que é gasto com sua manutenção? Como balancear o passivo social criado, quando apenas uma pequena porcentagem dos que entram realmente se formam e exercem sua profissão no mercado de trabalho?</p>

</div>		