<h1 class="jumbotron">Taxas de Evasão da Escola Politécnica da USP</h1>
<div class="container main-container">
	<h3><b>Porcentagem de evadidos chega à marca de 142%</b></h3>
	<hr>
	<p align=justify>A Escola Politécnica da USP, também conhecida por Poli, é um dos institutos mais antigos da USP. Fundada em 1893, foi incorporada à Universidade de São Paulo em 1934. Ocupa nove prédios da Cidade Universitária e conta com 4500 alunos de graduação e 2500 de pós-graduação.</p>

	<p align=justify>Muito conceituada tanto nacional quanto internacionalmente,  o ingresso nessa prestigiada instituição é o sonho de muitos jovens. Entretanto, como analisamos <%= link_to "neste", evasao_path %> artigo, as taxas de evasão da Poli estão entre as maiores de toda a USP.</p>

	<p align=justify>Em 2009, essa taxa chegou à marca de 142%, ou seja, mais alunos se evadiram da escola do que entraram. Mas, além da análise quantitativa, o que leva à ocorrência desse fenômeno?</p>

    <br>
    <%= image_tag("Dados.png", :alt => "Tabela") %>  
    <br><br>
    <p align=justify> Tabela com taxas de evasão da USP(2009)</p>
    <br>


	<p align=justify>Esse é um assunto complexo, que tangencia diversos pontos da vida universitária.</p>

	<p align=justify>É quase sabedoria popular a dificuldade dos cursos de engenharia, e esse fato é ratificado e reforçado na Poli. Não é incomum um número expressivo de alunos que têm de refazer matérias do chamado “ciclo básico”, que abrange os dois primeiros anos da graduação. Enquanto em outros cursos, principalmente em Biológicas ou Humanas, reprovações são algo raro, na Poli elas são algo comum, até esperadas pelos alunos.</p>

	<p align=justify>Esse grande número de reprovações acaba por destruir um possível senso de unidade entre os alunos. Enquanto em muitos cursos é comum a ideia da turma se graduar junto, na Poli isso é mais raro, já que ocorre uma dispersão natural dos alunos pelas áreas de especialização e, devido às reprovações corriqueiras, é grande o número de alunos que se encontram numa sala em que não conhecem ninguém.</p>

	<p align=justify>Junte-se a isso o perfil médio do aluno de Exatas, que já possui certa dificuldade em contextos sociais, e temos como resultado um ambiente muito individualista, com pessoas estudando sozinhas, sem comunicação, indo contra a ideia geral da Universidade de ser um ambiente para disseminação de conhecimento.</p>  

	<p align=justify>Esse contexto da Poli não é novidade, já é um velho conhecido dos que frequentam a instituição. Dentre os alunos, existe um famoso texto chamado <a href="http://www.politecnicos.com.br/artigos/escola-dos-homens-tristes">“A escola dos homens tristes”</a>, de 1997, que reflete a realidade dos ingressantes, a cada novo ano.  Com certeza, é possível achar relatos ainda mais antigos.</p>

	<p align=justify>A situação na Escola Politécnica já supera o contexto acadêmico e é de relevância a outras esferas: O que esse instituto está gerando para a sociedade? Como balancear o passivo social criado, quando apenas uma pequena porcentagem dos que entram realmente se formam e exercem sua profissão no mercado de trabalho?</p>

</div>		