<h1>Editing Orcamento Nv Institutos Especializado</h1>

<%= render 'form', orcamento_nv_institutos_especializado: @orcamento_nv_institutos_especializado %>

<%= link_to 'Show', @orcamento_nv_institutos_especializado %> |
<%= link_to 'Back', orcamento_nv_institutos_especializados_path %>
